# Backend
NEXT_PUBLIC_API_URL=https://tu-dominio.com

# Supabase (solo para auth en panel admin)
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
